<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>T2-Client</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WorkflowParser</display-name>
    <servlet-name>WorkflowParser</servlet-name>
    <servlet-class>eu.impact_project.iif.t2.client.WorkflowParser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkflowParser</servlet-name>
    <url-pattern>/WorkflowParser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkflowRunner</display-name>
    <servlet-name>WorkflowRunner</servlet-name>
    <servlet-class>eu.impact_project.iif.t2.client.WorkflowRunner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkflowRunner</servlet-name>
    <url-pattern>/WorkflowRunner</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>FilePrinter</display-name>
    <servlet-name>FilePrinter</servlet-name>
    <servlet-class>eu.impact_project.iif.t2.client.FilePrinter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilePrinter</servlet-name>
    <url-pattern>/FilePrinter</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>WorkflowUploader</display-name>
    <servlet-name>WorkflowUploader</servlet-name>
    <servlet-class>eu.impact_project.iif.t2.client.WorkflowUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkflowUploader</servlet-name>
    <url-pattern>/WorkflowUploader</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>WorkflowDownloader</display-name>
    <servlet-name>WorkflowDownloader</servlet-name>
    <servlet-class>eu.impact_project.iif.t2.client.WorkflowDownloader</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>WorkflowDownloader</servlet-name>
    <url-pattern>/WorkflowDownloader</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>InfoGenerator</display-name>
    <servlet-name>InfoGenerator</servlet-name>
    <servlet-class>eu.impact_project.iif.t2.client.InfoGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoGenerator</servlet-name>
    <url-pattern>/InfoGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupSelector</display-name>
    <servlet-name>GroupSelector</servlet-name>
    <servlet-class>eu.impact_project.iif.t2.client.GroupSelector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupSelector</servlet-name>
    <url-pattern>/GroupSelector</url-pattern>
  </servlet-mapping>
</web-app>
