<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WS-client</display-name>
  <context-param>
    <param-name>serviceList</param-name>
    <param-value>"./workspaceEE/WS-Client/src/main/resources/services.xml"</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WSDLinfo</display-name>
    <servlet-name>WSDLinfo</servlet-name>
    <servlet-class>eu.impact_project.wsclient.WSDLinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WSDLinfo</servlet-name>
    <url-pattern>/WSDLinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SOAPresults</display-name>
    <servlet-name>SOAPresults</servlet-name>
    <servlet-class>eu.impact_project.wsclient.SOAPresults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SOAPresults</servlet-name>
    <url-pattern>/SOAPresults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SOAPinputs</display-name>
    <servlet-name>SOAPinputs</servlet-name>
    <servlet-class>eu.impact_project.wsclient.SOAPinputs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SOAPinputs</servlet-name>
    <url-pattern>/SOAPinputs</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>  
</web-app>