.dragandrophandler {
	border: 2px dotted #525721;
	width: 160%;
	height: 50px;
	color: #525721;
	text-align: left;
	vertical-align: right;
	padding: 10px 10px 10 10px;
	margin-bottom: 10px;
	font-size: 200%;
	overflow:hidden;
	padding-top:10px;
	font-weight: normal;
}
.progressBar {
	width: 200px;
	height: 22px;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	margin: 0px 10px 5px 5px;
	vertical-align: top;
}

.progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 22px; /* same as #progressBar height if we want text middle aligned */
	width: 0;
	background-color: #525721;
	border-radius: 3px;
}
.statusbar {
	min-height: 25px;
	width: 700px;
	padding: 10px 10px 0px 10px;
	vertical-align: top;
}
.statusbar:nth-child(odd) {
	background: #EBEFF0;
}
.filename {
	display: inline-block;
	vertical-align: top;
	width: 250px;
}
.filesize {
	display: inline-block;
	vertical-align: top;
	color: #525721;
	width: 100px;
	margin-left: 10px;
	margin-right: 5px;
}
.abort {
	background-color: #A8352F;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	color: #fff;
	font-family: arial;
	font-size: 13px;
	font-weight: normal;
	padding: 4px 15px;
	cursor: pointer;
	vertical-align: top
}

form input[type="text"]
{
	width:160%;
}

